<!doctype html>
<html>
  <head>
      <style>
	  
	  
	      body{
		  background-color:red;
		 }
		 
		 
         .container{
		 
		 width:960px;
		 margin:0 auto;
		 padding:20px;
		 background-color:#FFFFFF;
		 height:900px;
		  color:red;
		 }
		 
		
		 
		 h1{
		  color:blue;
		 }
		 p{
		  line-height:1.5;
		 }
	  </style>
  </head>
 <body>
   <div class="container">
      <h1>Introduction to Set Theory</h1>
	  
	  <p> A set is  a collection of Object .It is a collection of things.</p>
	  
	  <p>Examples
	   
	   A collection of clothing Articles . Some memebers of this set could include  hat shirt pants socks shoes scarf jacket coat etc.
      
	  For eaxmple  1  2 3 is a collection of numbers an can be writtedn {1,2,3} which represents a set of numbers 1,2,3

      Equal sets . A set is said to equal if and only if the elements of on Set eqaul the elemonts of another set for instance 
 
      A={1,2,3}
      
	  B={1,2,3}
	 
	 </p>
	  
	  
	  <div><a class="btn-practice" href="infset">Next </a><a class="btn-practice">Practice</a>
   </div>
 </body>
</html>